@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #0B2447;
}
.header {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 30px;
}

.navbar a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
}

.navbar a:hover,
.navbar a.active {
    color: #576CBC;
}

.Home {
    display: flex;
    align-items: center;
    height : 60vh;
    color: #ffffff;
    padding: 0 10%;
    margin-top: 80px;
}

.Home-content {
   max-width: 600px;
}
.Home-content h1 {
    font-size: 58px;
    font-weight: 700;
   margin-bottom: 10px;
}
.Home-content h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #A5D7E8;
}
.Home-content p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: -10px;
    top: 10px;
}

.Home-content .Buttonbox {
    width: 345px;
    height: 50px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
}

.Buttonbox a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #A5D7E8;
    border: 4px solid #A5D7E8;
    border-radius: 7px;
    color: #0B2447;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 40px;
    z-index: 1;
    overflow: hidden;
    transition: 0.7s;
}

.Buttonbox a:hover {
    color: #A5D7E8;
}

.Buttonbox a:nth-child(2) {
    background: transparent;
    Color: #A5D7E8;
}

.Buttonbox a:nth-child(2):hover {
    color: #0B2447;
}

.Buttonbox a:nth-child(2)::before {
    background: #A5D7E8;
}


.Buttonbox a::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 0%;
    height: 100%;
    background: #0B2447;
    z-index: -1;
    transition: 0.7s;
}

.Buttonbox a:hover::before {
    width: 100%;
}